<div id="mainDiv">
    <div id="one">
        <img src="assets/images/H_logo.png" height="32" width="90" alt="alternative text">
    </div>
    
    <div id="two">
        <div>
            <ul class="control-group list-inline">
                <li class="col-xs-3">
                    <h6>
                        <a class="nav-link" href="#">ATS Tour</a>
                    </h6>
                </li>
                <li class="col-xs-3">
                    <h6>
                        <a class="nav-link" href="#">Customers</a>
                    </h6>
                </li>
                <li class="col-xs-3">
                    <h6>
                        <a class="nav-link" href="#">Pricing</a>
                    </h6>
                </li>
                <li class="col-xs-3">
                    <h6>
                        <a class="nav-link" href="#">Blog</a>
                    </h6>
                </li>
                <li class="col-xs-3">
                    <h6>
                        <a class="nav-link" href="#">Free Webinar</a>
                    </h6>
                </li>
                <li class="col-xs-3">
                    <div class="dropdown">
                      <button class="dropbtn">About Us &#9660;</button>
                        <div class="dropdown-content">
                            <a routerLink="/career">Careers</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                </li>
                <li class="col-xs-3">
                    <button id="btnRequestDemo" class="btn btn-secondary">Request Demo</button>
                </li>
            </ul>
        </div>
    </div>
    <h1 class="quote">Become A Part Of Our Passionate Team</h1><br>
    <h6 class="subQuote">Work with like minded people where every day is a new day & every one is someone you can learn from. </h6><br><br>
    <div class="wrapper">
        <button id="btnOurCulture" class="btn btn-secondary">OUR CULTURE</button>
    </div><br><br><br><br>
</div>   
