<div id=mainDiv>
    <div id="one">
        <img src="assets/images/H_logo.png" height="32" width="90" alt="alternative text"><br><br>
        <h5>FEATURES</h5><br>
        <a href="#">Manage Requisition</a><br>
        <a href="3">Publish & Source</a><br>
        <a href="#">Track Applications</a><br>
        <a href="#">Conduct Interviews</a><br>
        <a href="3">Offer & Onboard</a><br>
        <a href="#">Analyze & Improve</a><br>
    </div>
    <div id="two">
        <h5>TOOLs</h5><br>
        <a href="#">Salary Calculator</a><br>
    </div>
    <div id="three">
        <h5>Company</h5><br>
        <a href="#">Our Cultures</a><br>
        <a href="#">Career</a><br>
        <a href="#">Friday Fun</a><br>
        <a href="#">Contact Us</a><br>
    </div>
    <div id="four">
        <h5>LEGAL</h5><br>
        <a href="#">Term Of Service</a><br>
        <a href="#">Private Policy</a><br>
    </div>
    <div id="five">
        <h5>OFFICES</h5><br>
        <a href="#">Boston, USA</a><br>
        <a href="#">Pune, India</a><br>
        <a href="#">NCR, India</a><br>
    </div>
</div>