<div *ngFor="let jd of JD">
        <div *ngIf = "jd.ID == urlID">
            <div id="one"><h3>{{jd.Req_Title}}</h3></div>
            <div id="two"><a routerLink="/career">View Jobs</a></div>
            <h5>ID: {{jd.ID}} | {{jd.Experience}} | {{jd.Location}} | careers</h5>
            <hr><br>
            <p [innerHTML] = "jd.Job_Description"></p>
            <hr>
        </div>
    </div>


<button id="btnApply" class="btn btn-secondary"><a id="btnLink" (click)="onSelect(jd)" routerLink="/jobApplication/:ID">Apply</a></button>